.login-form-content {
  background-color: rgba(178, 96, 255, 0.51);
  padding-bottom: 10px;
  border-radius: 10px;
  gap: 10px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
.login-form-content > .form_input {
  grid-column: 2/-2;
}
.login-form-button {
  grid-row: 3/4;
}
.login-form-login-button {
  grid-column: 2/3;
}
.login-form-signin-button {
  grid-column: 4/5;
}
