.login_container_page {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 60vh auto auto auto;
  background-color: rgb(21, 0, 41);
}

.login_container_banner {
  grid-column: 2/-2;
  grid-row: 1/2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login_container_logo {
  height: 100%;
  max-width: 350px;
  width: 30%;
  min-width: 200px;
}
.login_container_slot {
  grid-row: 2/-2;
  grid-column: 2/-2;
}
